body{
    background-color: #333;

}
header nav img{
    width: 50px;
}
hr{
    color: lawngreen;
    height: 7px;
    background: linear-gradient(to right, #ce0380 0%, #a409cb 50%, #af000f 100%);
    width: 80%;
    margin: 0 auto;
}

strong{
    color: #ce0380;
}
em{
    color: darkslategray;
}
.container{
    background-color: #FFF;
}
li{
    
}